<mat-card class="card-container" [ngClass]="{'selected': isSelected}" appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{show!.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="show!.image" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{show!.description != "" ? show!.description : "Sin descripción"}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="onSelected()" mat-button>{{isSelected ? "DESELECCIONAR" : "SELECCIONAR"}}</button>
        <button (click)="onDelete()" mat-button>ELIMINAR</button>
        <button [routerLink]="['/tv-show-details', show!.name]" mat-button>VER DETALLES</button>
    </mat-card-actions>
</mat-card>